*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(146deg, rgba(123,35,255,1) 0%, rgb(21, 0, 255) 100%);
}

h1{
    color: white;
    font-family: Archivo;
    font-size: 2rem;
}

header,form{
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
}

form input, form button{
    padding: 1rem;
    background-color: white;
    border: none;
    font-size: 1rem;
    font-family: archivo;
}

button{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕</text></svg>") 16 0,auto; 
}

form button:hover{
    /* cursor: pointer; */
    background-color: rgba(149, 147, 255, 0.317);
    color: white;
}

/* .box{
    height: 20px;
    width: 20px;
    background-color: blue;
} */

.todocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    min-width: 30%;
    list-style-type: none;
    padding-left: 0.5vw;
    color: white;
    flex: 1;
}

.todo{
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 8px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    margin-bottom: 1vh;
    padding: 7px;
}

.delete-btn:hover,.check-btn:hover{
    background-color: rgba(149, 147, 255, 0.317);
    color: white;
}

.delete-btn,.check-btn{
    margin: 1vh;
    border: none;
    padding : 0.5vw;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🖕</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.check-btn{
    background-color: rgb(172, 250, 172);
    border-radius: 0.2vw;
    padding: 8px;
    padding-left: 10px;padding-right: 10px;
    margin-right:0px ;
}

.delete-btn{
    margin-left:1px;
    background-color: rgb(250, 194, 172);
    border-radius: 0.2vw;
    padding: 8px;
}